body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(153, 153, 153, 1);
  letter-spacing: .05em;
}

* {
  box-sizing: border-box;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

p {
  margin: 0;
}

.section title {
  font-size: 30px;
  margin-bottom: 79px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 1)
}

input,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

.btn {
  display: flex;          /* тремя строчками выровняли текст в кнопке по-центру */
  align-items: center;
  justify-content: center;
  width: 204px;
  padding: 15px 0;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  background-color: rgba(255, 73, 117, 1);
  transition: background-color .5s ease;
}

.btn:hover {
  background-color: rgb(158, 27, 60);
  transition: background-color .5s ease;
}

/* header */
.header {
  background: linear-gradient(57.79deg, rgba(51, 5, 111, 0.58) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url('../img/header-bg.jpg') no-repeat center top / cover;
  margin: 0;
  color: #fff;
  padding-top: 21px;
  padding-bottom: 72px;
}

.header .header-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, .6);
}

.container__flex {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  margin-right: auto;
}

.menu-list {
  display: flex;
  line-height: 41px;
}

.menu-item {
  margin-right: 47px;
  padding-bottom: 21px;
}

.menu-item:first-child {
  margin-left: auto;
}

.menu-item:last-child {
  margin-right: 165px;
}

.menu-item:hover {
  border-bottom: 2px solid #fff;
  transition: border-bottom, .1s, ease;
  padding-bottom: 2px;
}

.menu-item:first-child {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}

.menu-link {
  color: #fff;
}

.tel {
  color: #fff;
  line-height: 41px;
  font-weight: 800;
}

.header-bottom {
  padding-top: 143px;
}

.header__title {
  width: 50%;
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-transform: none;
  color: rgba(255, 255, 255, 1);
}

.header__signature-title {
  width: 377px;
  margin-bottom: 25px;
}

.img-arrow {
  display: block;
  width: 18px;
  height: 24px;
  margin-top: 168px;
  transition: background-color .5s ease;
}

/* business */
.business {
  padding-top: 101px;
  padding-bottom: 92px;
}

.business-title {
  line-height: 1.4em;/* Высота строки */
  font-weight: 700;
  font-size: 32px;
  color: rgba(50, 50, 50, 1);
  text-transform: none;
  margin-bottom: 29px;
}

.business-subtitle {
  width: 550px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}

.business-box{
  display: flex;
  margin-top: 78px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.business-box__item {
  width: 47%;  /* немного длиннее ссылка */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-box__item {
  margin-bottom: 43px;
}

.business-box-content {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  width: 528px;
}

.business-img {
  border-radius: 0 10px 10px 10px;
}

.business-box-text {
  font-size: 15px;
  margin-left: 20px;
}

.business-small-title {
  margin-bottom: 19px;
  text-transform: none;
}

.business-text {
  text-align: left;
  font-size: 16px;
}

.business-price {
  display: block;
  margin-bottom: -15px;
  color: rgba(255, 73, 117, 1);
  text-align: left;
  margin-top: 15px;
}

.business-btn {
  margin-top: 73px;
}

/* our-projects */

.our-projects {
  background-color: #F7F6F8;
  padding-bottom: 245px;
  padding-top: 103px;
  padding-bottom: 242px;
}

.our-projects-content {
  position: relative;
  line-height: 1.4;
}

.our-projects-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 17px;
  color: rgba(50, 50, 50, 1);
  text-transform: none;
}

.our-projects-subtitle {
  max-width: 95%;
  margin-bottom: 78px;
  color: rgba(0, 0, 0, 1);
}

.container-with-image {
  display: flex;
}

.card {
  position: relative;
  width: 345px;
  transition: all .5s ease-in;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.card__image {
  display: block;
  height: auto;
  border-radius: 15px;
}

.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 15px;
}


.card:hover .card__overlay {
  opacity: 1;
}

.overlay__text__glass {
  position: absolute;
  top: 47%;
  left: 47%;
}

.about-us {
  display: flex;
  margin-top: 60px;
  padding-top: 38px;
  border-top: 1px solid rgba(184, 184, 184, 1);
}

.about-us-box {
  max-width: 211px;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin: 5px auto;
  display: flex;
  flex-direction: column;  
}

.about-us-box__title {
  font-size: 36px;
  font-weight: 700;
}

.our-projects-block {
  position: absolute;
  width: 801px;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  background-color: #F4EAFF;
  font-size: 10px;
  font-weight: 400;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 80px;
}

.our-projects-block__title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
}

.our-projects-block__text {
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 1);
}


.our-projects-block__button {
  display: block;
  margin: 0 auto;
  font-weight: 400;
}

/* box-video */

.box-video {
  padding-top: 230px;
  padding-bottom: 103px;
  text-align: center;
  font-weight: 400;
}

.box-video-title {
  display: block;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 23px;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
}

.box-video-text {
  max-width: 561px;
  margin: 0 auto;
  font-weight: 400;
  margin-bottom: 52px;
  color: rgba(0, 0, 0, 1);
}

.video-elements {
  width: auto;
  margin: 0 auto;
  padding-bottom: 62px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);

}

.video-player {
  width: 830px;
  border-radius: 10px;
  margin: 0 auto;
  background: #000;
}

/* footer */
.footer {
  font-size: 14px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(247, 246, 248, 1);
}

.footer__container__flex {
  display: flex;
  justify-content: space-between;
}

.footer-box-title_first {
  margin-bottom: 31px;
}

.footer-box-title {
  font-size: 19px;
  text-transform: none;
  color: rgba(0, 0, 0, 1);
}

.second-title {
  margin-bottom: 73px;
  color: rgba(0, 0, 0, 1);
}

.footer-list {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.footer-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 15px;
}

.footer-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 15px;
}

.footer-item {
  padding-left: 32px;
  position: relative;
  color: rgba(0, 0, 0, 1);
}

.footer-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer-first-slogan {
  color: rgba(0, 0, 0, 1);
}

.social-list {
  position: relative;
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 18px;
}

.social-link {
  color: rgba(255, 73, 117, 1);
}

.mail-item::before {
  background-image: url('../img/email.svg');
  background-repeat: no-repeat;
}

.tel-item::before {
  background-image: url('../img/phone.svg');
  background-repeat: no-repeat;
}

.adress-item::before {
  background-image: url('../img/icon.svg');
  background-repeat: no-repeat;
}

.footer-box-title-third {
  margin-top: 44px;
  margin-bottom: 17px;
}

.box-input {
  margin-bottom: 23pxpx;
  position: relative;
}

.input {
  display: block;
  position: relative;
  width: 100%;
  height: 46px;
  padding-left: 20px;
  border: none;
  border-radius: 40px;
}

.telegram-link {
  position: absolute;
  top: -27px;
  right: -17px;
  display: block;
  border-radius: 100%;
  width: 67px;
  height: 100px;
  z-index: 10;
}

.form-link {
  margin-top: 3px;
  background: rgba(255, 73, 117, 1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.form-link:before {
  position: relative;
  content: '';
  display: inline-block;
  background: url('../img/telegram.svg');
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.footer-slogan {
  font-size: 12px;
  display: block;
  margin-top: 23px;
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}


/*  Responsive  */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}

  .logo {
    margin-left: 0;
  }

  .menu-list {
    margin-right: 0;
  }

  .tel {
    display: none;
  }

  .container-with-image {
    flex-wrap: wrap;
  }

  .footer__container__flex {
    flex-wrap: wrap;
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}

  .header-border-bottom {
    padding-bottom: 23pX;
  }

  .menu-logo {
    display: none;
  }
  
  .tel {
    display: block;
  }

  .menu-item:last-child {
    margin-right: -15px;
  }

  .header__title {
    width: 75%;
  }

  .business-box__item {
    width: 75%;
    margin-bottom: 43px;
  }

  .business-box__item:last-child {
    margin-bottom: 0;
  }

  .business-btn {
    margin-top: 116px;
  }
  
  .our-projects-subtitle {
    width: 100%;
  }

  .about-us-box {
    margin-bottom: 20px;
  }
  
  .our-projects-block{
    width: 714px;
  }

  .video-player {
    margin: 0 auto;
    width: 100%;
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}

  .header__title {
    width: 100%;
    line-height: 45px;
  }

  .header__signature-title {
    width: 100%;
    line-height: 22.5px;
  }

  .business-title {
    width: 100%;
  }

  .business-subtitle {
    max-width: 540px;
  }

  .business-box{
    width: 100%;
  }

  .business-box__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .business-box__item__img {
    width: 100%;
    margin-bottom: 15px;
  }

  .business-img {
    display: block;
    width: 100%;
  }

  .business-box-text {
    margin-left: 0;
  }

  .our-projects-title {
    width: 100%;
  }
 
  .container-with-image {
    padding-bottom: 95px;
  }

  .card {
    margin: 10px auto;
  }

  .about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .about-us-box {
    width: 25%;
    text-align: center;
  }


  .our-projects-block {
    width: 90%;
    padding: 30px;
  }


  .video-elements {
    width: 100%;
  }

  .video-player {
    height: 307px;
  }

  .footer-box {
    margin-bottom: 10px;
  }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding-bottom: 30px;
  } 

  .header__title {
    font-size: 38px;
    width: 100%;
    padding-top: 185px;
  }

  .menu-list {
    display: none;
  }

  .tel {
    display: block;
    width: 154px;
    margin-right: 0;
  }

  .about-us {
    flex-direction: column;
    justify-content: center;
  }

  .our-projects {
    margin-bottom: 220px;
  }

  .about-us-box:not(:last-child) {
    margin: 0 auto 20px;
  }

  .about-us-box:last-child {
    margin: 0 auto;
  }


  .menu-logo,
  .header__title,
  .header__signature-title,
  .btn:not(:last-child),
  .business-title,
  .business-subtitle,
  .our-projects,
  .box-video-title,
  .box-video-text,
  .container-with-image  {
    width: 100%;
  }

  
  .business-box__item {
    flex-wrap: wrap;
    width: 100%;
  }

  .business-box__item__img,
  .business-box-text {
    width: 100%;
  }

  .bussines-img {
    width: 100%;
  }

  .card {
    margin: 10px auto;
  }

  .about-us {
    display: flex;
    flex-wrap: wrap;
  }

  .box-video-title {
    font-size: 28px;
  }

  .box-video-title,
  .box-video-text,
  .video-elements,
  .footer,
  .footer-box,
  .footer-box-title,
  .box-input,
  .input {
    width: 100%;
  }

  .about-us-box {
    width: 25%;
    margin: 0 auto;
  }

  .video-player {
    height: 250px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .social-list {
    display: flex;
    flex-direction: column;
  }

  .social-item {
    margin-right: 0;
  }

  .social-item:not(:last-child) {
    margin-bottom: 29px;
  }
}

@media (max-width: 280px) {
  .container {
    padding: 0 15px;
  }

  .card {
    width: 280px;
  }

  
  .menu-logo {
    width: 100%;
  }

  .header__title {
    width: 100%;
  }

  .header__signature-title {
    width: 100%;
  }
  
  .btn:not(:last-child) {
    width: 100%;
  }
  
  .business-title {
    width: 100%;
  }
  
  .business-subtitle {
    width: 100%;
  }
  
  .our-projects {
    width: 100%;
  }
  
  .box-video-title {
    width: 100%;
  }
  
  .box-video-text {
    width: 100%;
  }
  
  .container-with-image  {
    width: 100%;
  }

  
  .business-box__item {
    flex-wrap: wrap;
    width: 100%;
  }

  .business-box__item__img {
    width: 100%;
  }
  .business-box-text {
    width: 100%;
  }

  .bussines-img {
    width: 100%;
  }

  .card {
    width: 280px;
    margin: 10px auto;
  }

  .about-us {
    display: flex;
    flex-wrap: wrap;
  }

  .box-video-title {
    font-size: 28px;
  }
}